@page "/about"

<PageTitle>SSSKLv2 | Over</PageTitle>

<div class="row">
    <div class="col-3">
        <img src="icon.png" alt="Logo" class="img-fluid">
    </div>
    <div class="col-9">
        <h1 class="fst-italic">
            SSSKL <span class="badge text-bg-primary">v2.7.0</span><br/>
        </h1>
        
        <p>Made with ❤️ by <span class="text-nowrap"><a href="https://ricardotill.nl/" target=”_blank”>Ricardo Tillemans</a></span></p>
    </div>
    <p>Wil je jouw account verwijderen? Log dan in, open het menu, open Accountbeheer, ga naar het kopje Persoonlijke data en bevestig dat je jouw account 
        wilt verwijderen. Kan je niet meer inloggen? Stuur dan een mail naar <a href="mailto:me@ricardotill.nl">me@ricardotill.nl</a></p>
</div>
