@page "/about"

<PageTitle>SSSKLv2 | Over</PageTitle>

<h1 class="fst-italic">
    SSSKLv2, voor en door alcoholisten
</h1>

<p>Made with ❤️ by <a href="https://ricardotill.nl/" target=”_blank”>Ricardo Tillemans</a></p>

<h4>Licenties</h4>
<p>Gebouwd met <code>.NET 8 Blazor Server</code></p>
<pre><code>
 | Reference                                                        | License Type | License                        | 
 |------------------------------------------------------------------------------------------------------------------| 
 | BlazorComponentUtilities                                         | MIT          | https://licenses.nuget.org/MIT | 
 | Blazored.Toast                                                   | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.ApplicationInsights                                    | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.ApplicationInsights.AspNetCore                         | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.ApplicationInsights.DependencyCollector                | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore             | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.AspNetCore.Identity.EntityFrameworkCore                | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.Azure.AppConfiguration.AspNetCore                      | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.Azure.SignalR                                          | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.EntityFrameworkCore.Sqlite                             | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.EntityFrameworkCore.SqlServer                          | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.EntityFrameworkCore.Tools                              | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.Extensions.Logging.ApplicationInsights                 | MIT          | https://licenses.nuget.org/MIT | 
 | Microsoft.VisualStudio.Web.CodeGeneration.Design                 | MIT          | https://licenses.nuget.org/MIT | 
 | QRCoder                                                          | MIT          | https://licenses.nuget.org/MIT | 
</code></pre>