@page "/about"

<PageTitle>SSSKLv2 | Over</PageTitle>

<div class="row">
    <div class="col-3">
        <img src="icon.png" alt="Logo" class="img-fluid">
    </div>
    <div class="col-9">
        <h1 class="fst-italic">
            SSSKLv2, voor en door alcoholisten
        </h1>
        
        <p>Made with ❤️ by <span class="text-nowrap"><a href="https://ricardotill.nl/" target=”_blank”>Ricardo Tillemans</a></span></p>
    </div>
</div>
