@page "/about"

<PageTitle>SSSKLv2 | Over</PageTitle>

<h1 class="fst-italic">
    SSSKLv2, voor en door alcoholisten
</h1>

<p>Made with ❤️ by <a href="https://ricardotill.nl/" target=”_blank”>Ricardo Tillemans</a></p>

<p>
    Placeholder voor licenties
</p>