@page "/Error"
@using System.Diagnostics

<PageTitle>SSSKLv2 | Foutmelding</PageTitle>

<h1 class="text-danger">Foutmelding.</h1>
<h2 class="text-danger">Er is een fout opgetreden bij het verwerken van jouw verzoek. Deel de onderstaande code met de webmaster</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
