@page "/"

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider


<div class="mb-3">
    <h3>Welkom!</h3>
    <h6>Je bent niet ingelogd.</h6>
    <a class="btn btn-primary btn-lg w-100" href="Account/Login" role="button">Inloggen <i class="bi bi-arrow-right"></i></a>
</div>

<h4 class="mb-1">Changenotes</h4>
<div class="mb-1">
    <h5>2.1.0 : 14-02-2024</h5>
    <p>
        <b>Added "Guest" role</b>
        <ul>
            <li>
                When registering as a new user, the default role is now "Guest".
            </li>
            <li>
                Guests can't order, this privilege is reserved for User and above.
            </li>
            <li>
                Guests don't appear in the orderingscreen and all leaderboards.
            </li>
            <li>
                At most, a Guest can remove their own orders, just like a User can.
            </li>
        </ul>
        <b>Added initial support for mobile apps and notifications.</b>
    </p>
</div>
<div class="mb-1">
    <h5>2.0.0 : 15-12-2023</h5>
    <p>
        <ul>
            <li>
                Initial release!
            </li>
        </ul>
    </p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("pos");
        }
        
        await  base.OnInitializedAsync();
    }
}