@page "/saldo/{Page:int?}"
@attribute [Authorize]

@inject ITopUpService TopUpService
@using SSSKLv2.Data
@using SSSKLv2.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using SSSKLv2.Components.Account

<PageTitle>SSSKLv2 | Saldo</PageTitle>

<h1>Saldo transacties</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Datum</th>
        <th scope="col">Gebruikersnaam</th>
        <th scope="col">Saldo</th>
    </tr>
      </thead>
    <tbody>
    @foreach (var topup in TopUps.Value)
    {
        <tr>
            <td>@topup.CreatedOn.ToString("dd/MM/yyyy")</td>
            <td>@topup.User.Name</td>
            <td>+ @topup.Saldo.ToString("C")</td>
        </tr>
    }
    </tbody>
  </table>
</div>

<Pagination
    TotalItems="TopUps.TotalObjects"
    NavUrl="/saldo/" />

@code {
    
    [Parameter]
    public int? Page { get; set; }
    
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    
    public PaginationObject<TopUp> TopUps = new();

    protected override async Task OnInitializedAsync()
    {
        Page ??= 1;
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        var username = HttpContext.User.Identity.Name;
        TopUps = await TopUpService.GetPersonalPagination(Page!.Value, username);
    }
}
