@inherits LayoutComponentBase
@layout AccountLayout

<h1>Beheer je account</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3 mb-2">
            <ManageNavMenu />
        </div>
        <div class="col-md-9 mb-2">
            @Body
        </div>
    </div>
</div>
