@page "/admin/oldusermigrations/delete"
@inject IOldUserMigrationService OldMigrationService
@using SSSKLv2.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using SSSKLv2.Components.Account
@using Microsoft.AspNetCore.Authorization
@using SSSKLv2.Services.Interfaces

@attribute [Authorize(Policy = Policies.Admin)]

<PageTitle>SSSKLv2 | Verwijderen</PageTitle>

<div class="row crud-form-header">
    <div class="col-9 title-container">
        <h1>Verwijderen</h1>
    </div>
    <div class="col-3 text-end back-container">
        <a class="btn btn-lg btn-secondary" href="/admin/oldusermigrations"><i class="bi bi-arrow-left"></i></a>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Migratiegebruiker</h5>
        <hr/>
        @if (oldusermigration is null)
        {
            <p><em>Laden...</em></p>
        }
        else {
            <dl class="row">
                <dt class="col-sm-2">Gebruikersnaam</dt>
                <dd class="col-sm-10">@oldusermigration.Username</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Saldo</dt>
                <dd class="col-sm-10">@oldusermigration.Saldo</dd>
            </dl>
            <EditForm method="post" Model="oldusermigration" OnValidSubmit="DeleteOldUserMigration" FormName="delete" Enhance>
                <button type="submit" class="btn btn-danger" disabled="@(oldusermigration is null)">Verwijderen</button>
            </EditForm>
        }
    </div>
</div>

@code {
    OldUserMigration? oldusermigration;

    [SupplyParameterFromQuery]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        oldusermigration = await OldMigrationService.GetMigrationById(Id);

        if (oldusermigration is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteOldUserMigration()
    {
        if (oldusermigration != null) await OldMigrationService.DeleteMigration(oldusermigration.Id);
        NavigationManager.NavigateTo("/admin/oldusermigrations");
    }
}
