@page "/admin/oldusermigrations"
@using SSSKLv2.Components.Account
@inject IOldUserMigrationService OldUserMigrationService
@using SSSKLv2.Data
@using Microsoft.AspNetCore.Authorization
@using SSSKLv2.Services.Interfaces
@attribute [Authorize(Policy = Policies.Admin)]

<PageTitle>SSSKLv2 | Saldo Migratie</PageTitle>

<div class="row crud-form-header">
    <div class="col-10 title-container">
        <h1>Saldo Migratie</h1>
    </div>
    <div class="col-2 text-end back-container">
        <a class="btn btn-success bg-lg" href="/admin/oldusermigrations/create" role="button"><i class="bi bi-plus-circle"></i></a>
    </div>
</div>

<div class="alert alert-warning d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-circle me-3"></i>
    <div>
        Hier worden de te migreren gebruikers met zijn/haar saldo opgelagen. Wanneer een te migreren gebruiker in SSSKLv2 een account aanmaakt die overeenkomt met een van de onderstaande gebruikersnamen wordt meteen het saldo overgezet.
    </div>
</div>

<div class="table-responsive text-nowrap">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Datum</th>
        <th scope="col">Gebruikersnaam</th>
        <th scope="col">Saldo</th>
        <th scope="col">#</th>
    </tr>
      </thead>
    <tbody>
    @foreach (var entry in OldUserMigrations)
    {
        <tr>
            <td>@entry.CreatedOn.ToString("dd/MM/yyyy")</td>
            <td>@entry.Username</td>
            <td>@entry.Saldo.ToString("C")</td>
            <td>
                <a class="btn btn-danger btn-sm" href="@($"admin/oldusermigrations/delete?id={entry.Id}")" role="button"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
  </table>
</div>

@code {
    public IEnumerable<OldUserMigration> OldUserMigrations = new List<OldUserMigration>();

    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        OldUserMigrations = await OldUserMigrationService.GetAll();
    }
}