@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="main">    
    <div class="content px-4">
        @Body
    </div>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout=5
                SuccessIcon="bi bi-check-circle"
                WarningIcon="bi bi-exclamation-triangle"
                ErrorIcon="bi bi-x-octagon"/>