@using SSSKLv2.Components.Account
@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand position-relative" href="">
            SSSKL <span class="position-absolute v2 translate-middle badge rounded-pill bg-primary">
                v2
            </span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-cup-straw" aria-hidden="true"></span> Bestellen
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="orders">
                        <span class="bi bi-receipt-cutoff" aria-hidden="true"></span> Geschiedenis
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usersaldos">
                        <span class="bi bi-piggy-bank" aria-hidden="true"></span> Gebruikers
                    </NavLink>
                </div>
                <hr/>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="@Policies.Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/orders">
                        <span class="bi bi-journal-arrow-down" aria-hidden="true"></span> Bestellingenbeheer
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/products">
                        <span class="bi bi-bag" aria-hidden="true"></span> Productenbeheer
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/topups">
                        <span class="bi bi-cash-coin" aria-hidden="true"></span> Saldobeheer
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/oldusermigrations">
                        <span class="bi bi-person-down" aria-hidden="true"></span> Migratiebeheer
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Administration">
                        <span class="bi bi-person-gear" aria-hidden="true"></span> Gebruikersbeheer
                    </NavLink>
                </div>
                <hr/>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard">
                <span class="bi bi-clipboard2-data" aria-hidden="true"></span> Leaderboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-patch-question" aria-hidden="true"></span> Over
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

