@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Wachtwoord vergeten bevestiging</PageTitle>

<h1>Wachtwoord vergeten bevestiging</h1>
<p>
    Er is een e-mail gestuurd naar de desbetreffende mailbox, waarin instructies staan hoe je jouw wachtwoord reset.
</p>
