@page "/Account/Lockout"

<PageTitle>Tijdelijk geblokkeerd</PageTitle>

<header>
    <h1 class="text-danger">Tijdelijk geblokkeerd</h1>
    <p class="text-danger">Dit account is geblokkeerd door de vele inlog-pogingen, probeer het later opnieuw. Vragen? Stuur een email naar <a href="mailto:webmaster@scoutingwilo.nl">de webmaster</a></p>
</header>
