@page "/Account/ResetPasswordConfirmation"
<PageTitle>Wachtwoord opnieuw ingesteld</PageTitle>

<h1>Wachtwoord opnieuw ingesteld</h1>
<p>
    Je wachtwoord is gereset. <a href="Account/Login">Klik hier om in te loggen.</a>
</p>
