@page "/oldusermigrations/delete"
@inject SSSKLv2.Data.ApplicationDbContext DB
@using SSSKLv2.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>SSSKLv2 | Verwijderen</PageTitle>

<h1>Verwijderen</h1>

<div>
    <h4>Migratiegebruiker</h4>
    <hr />
    @if (oldusermigration is null)
    {
        <p><em>Laden...</em></p>
    }
    else {
        <a href="/oldusermigrations">Terug naar lijst</a>

        <dl class="row">
            <dt class="col-sm-2">Gebruikersnaam</dt>
            <dd class="col-sm-10">@oldusermigration.Username</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Saldo</dt>
            <dd class="col-sm-10">@oldusermigration.Saldo</dd>
        </dl>
        <EditForm method="post" Model="oldusermigration" OnValidSubmit="DeleteOldUserMigration" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(oldusermigration is null)">Delete</button> |
        </EditForm>
    }
</div>

@code {
    OldUserMigration? oldusermigration;

    [SupplyParameterFromQuery]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        oldusermigration = await DB.OldUserMigration.FirstOrDefaultAsync(m => m.Id == Id);

        if (oldusermigration is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteOldUserMigration()
    {
        DB.OldUserMigration.Remove(oldusermigration!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/oldusermigrations");
    }
}
