@page "/admin/products/edit"
@inject SSSKLv2.Data.ApplicationDbContext DB
@using SSSKLv2.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using SSSKLv2.Components.Account
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = Policies.Admin)]

<PageTitle>SSSKLv2 | Product Aanpassen</PageTitle>

<div class="row crud-form-header">
    <div class="col-9 title-container">
        <h1>Product Aanpassen</h1>
    </div>
    <div class="col-3 text-end back-container">
        <a class="btn btn-lg btn-secondary" href="/admin/products"><i class="bi bi-arrow-left"></i></a>
    </div>
</div>
<hr />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Product</h5>
        <hr/>
        @if (Product is null)
        {
            <p><em>Laden...</em></p>
        }
        else
        {
            <div class="row">
                <div class="col-md-4">
                    <EditForm method="post" Model="Product" OnValidSubmit="UpdateProduct" FormName="edit" Enhance>
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <input type="hidden" name="Product.Id" value="@Product.Id" />
                        <div class="mb-3">
                            <label for="name" class="form-label">Naam:</label>
                            <InputText id="name" @bind-Value="Product.Name" class="form-control" />
                            <ValidationMessage For="() => Product.Name" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <InputText id="description" @bind-Value="Product.Description" class="form-control" />
                            <ValidationMessage For="() => Product.Description" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Prijs:</label>
                            <div class="input-group">
                                <span class="input-group-text">€</span>
                                <InputNumber id="price" @bind-Value="Product.Price" class="form-control" />
                            </div>
                            <ValidationMessage For="() => Product.Price" class="text-danger" />
                        </div>
                        <div class="mb-3">
                            <label for="stock" class="form-label">Voorraad:</label>
                            <InputNumber id="stock" @bind-Value="Product.Stock" class="form-control" />
                            <ValidationMessage For="() => Product.Stock" class="text-danger" />
                        </div>
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </EditForm>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public Guid Id { get; set; }

    [SupplyParameterFromForm]
    public Product? Product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Product ??= await DB.Product.FirstOrDefaultAsync(m => m.Id == Id);

        if (Product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateProduct()
    {
        DB.Attach(Product!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ProductExists(Product!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/admin/products");
    }

    bool ProductExists(Guid id)
    {
        return DB.Product.Any(e => e.Id == id);
    }
}
